.song-flex-container {
  display: flex;
  align-items: center;
  width: 100%;
  cursor:pointer;

}

.song-img{
  width:64px;
  height:64px;
}

.dropdown{
  margin-left:auto;
}

.dropdownStyle > button{
  color:black;
  background-color:white;
  border:white;
}

.track {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2%;
}
.artist {
  font-size: 80%;

}

.song {
  font-size: 80%;
  font-weight: 800;
}